<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon name='arrow-back' (click)='gotoback()'></ion-icon>
        </ion-buttons>
        <ion-title>ไวรัสโคโรนาสายพันธุ์ใหม่คืออะไร</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content style='color: white !important'>
            ไวรัสโคโรนาสายพันธุ์ใหม่ (COVID-19) คือสายพันธุ์ไวรัสที่ติดต่อแค่ในมนุษย์ตั้งแต่เดือนธันวาคม 2019 ผเู้ชี่ยวชาญด้านสาธารณสุขมีความกังวลเพราะยังไม่มีความรู้เกี่ยวกับไวรัสชนิดใหม่นี้เท่าไร และมี ความเป็นไปได้ว่าไวรัสจะก่อใหเ้กิดอาการป่วยรุนแรงและโรคปอดบวมในมนุษย์บางส่วน
        </ion-card-content>
    </ion-card>
</ion-content>