<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon name='arrow-back' (click)='gotoback()'></ion-icon>
        </ion-buttons>
        <ion-title>การป้องกันไวรัสโคโรนาสายพันธุ์ใหม่</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content style='color: white !important'>
            <ul>
                <li>ล้างมือบ่อยๆ ด้วยน้ำและสบู่ หากไม่สามารถทำได้ให้ใช้แอลกอฮอล์ล้างมือ</li>
                <li>หลีกเลี่ยงการใช้มือสกปรกสัมผัสดวงตา จมูก หรือ ปาก</li>
                <li>หลีกเลี่ยงการสัมผัสกับผู้ป่วย</li>
                <li>ใช้กระดาษทิชชู่หรือแขนเสื้อปิดจมูกและปากเมื่อไอหรือจาม</li>
            </ul>
        </ion-card-content>
    </ion-card>
</ion-content>