<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button expand="block" fill="outline" (click)='gotoforward(1)'>ไวรัสโคโรนาสายพันธุ์ใหม่คืออะไร</ion-button>
    <ion-button expand="block" fill="outline" (click)='gotoforward(2)'>ไวรัสโคโรนาสายพันธุ์ใหม่ติดต่อไปอย่างไร</ion-button>
    <ion-button expand="block" fill="outline" (click)='gotoforward(3)'>ไวรัสโคโรนาสายพันธุ์ใหม่มีความรุนแรงแค่ไหน</ion-button>
    <ion-button expand="block" fill="outline" (click)='gotoforward(4)'>อาการมีอะไรบ้าง</ion-button>
    <ion-button expand="block" fill="outline" (click)='gotoforward(5)'>การป้องกันไวรัสโคโรนาสายพันธุ์ใหม่</ion-button>
</ion-content>