<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon name='arrow-back' (click)='gotoback()'></ion-icon>
        </ion-buttons>
        <ion-title>อาการมีอะไรบ้าง</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            บุคคลที่ได้รับการวินิจฉัยว่ามีเชื้อไวรัสโคโรนาสายพันธุ์ใหม่ได้แจ้งว่ามีอาการที่อาจเกิดขี้นตั้งแต่ 2-14 หลังสัมผัสกับไวรัสดังนี้
            <ul>
                <li>มีไข้</li>
                <li>ไอ</li>
                <li>หายใจลำบาก</li>
            </ul>
        </ion-card-content>
    </ion-card>
</ion-content>