<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon name='arrow-back' (click)='gotoback()'></ion-icon>
        </ion-buttons>
        <ion-title>ไวรัสโคโรนาสายพันธุ์ใหม่มีความรุนแรงแค่ไหน</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content style='color: white !important'>
            ผเู้ชี่ยวชาญกำลังศึกษาเกี่ยวกับขอบเขตของอาการป่วยจากไวรัสโคโรนาสายพันธุ์ใหม่ เคสที่พบมีอาการตั้งแต่อาการป่วยเล็กน้อย (คล้ายกับเป็นไข้หวัด) จนถึงอาการปอดบวมรุนแรงที่ต้องเข้ารับการรักษาในโรงพยาบาล ที่ผ่านมา มีการรายงานการเสียชีวิตในผู้สูงวัยที่มีอาการป่วยอื่นร่วมด้วยเป็นหลัก

        </ion-card-content>
    </ion-card>
</ion-content>