<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon name='arrow-back' (click)='gotoback()'></ion-icon>
        </ion-buttons>
        <ion-title>ไวรัสโคโรนาสายพันธุ์ใหม่ติดต่อไปอย่างไร</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            ผู้เชี่ยวชาญด้านสาธารณสุขยังคงศึกษารายละเอียดว่าไวรัสโคโรนาสายพันธุ์ใหม่กระจายไปอย่างไร ไวรัสโคโรนาประเภทอื่นๆ ติดต่อจากผู้ติดเชื้อไปยังผู้อื่นผ่าน:
            <ul>
                <li>อากาศ โดยการไอและจาม</li>
                <li>การสัมผัสตัวกันอย่างใกล้ชิดเช่นการสัมผัสหรือจับมือ</li>
                <li>การสัมผัสสิ่งของหรือพื้นผิวที่มีไวรัสอยู่ แล้วใช้มือจับปาก จมูก หรือ ตา</li>
                <li>การสัมผัสกับอุจจาระ เป็นกรณีที่พบไมบ่อย</li>
            </ul>
        </ion-card-content>
    </ion-card>
</ion-content>